.title-section{
    padding-top: 60px;
}

.program-text{
    text-align: center;
}
.program-text .program-sub-title{
    font-size: 35px;
    font-weight: 600;
}
.program-text .program-title{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1428BF;
    
}

